<head>
    
  <!-- HTML Meta Tags -->
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  
  <!-- Facebook Meta Tags -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title || 'Check this out!' %>">
  <meta property="og:description" content="<%= description || 'I have something really cool to show you.' %>">
  <meta property="og:image" content="<%= thumbnail || '' %>">
  <meta property="og:url" content="<%= url || '' %>">
  
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title || 'Check this out!' %>">
  <meta name="twitter:description" content="<%= description || 'I have something really cool to show you.' %>">
  <meta name="twitter:image" content="<%= thumbnail || '' %>">
  <meta property="twitter:domain" content="<%= url || '' %>">
  <meta property="twitter:url" content="<%= url || '' %>">
      
</head>
<body style="padding: 0; margin: 0; background-color: black;" onpageshow="redirect()">
  <script>
    function redirect() {
      window.location.href = "https://rickhider.willuhmjs.repl.co/rickroll.mp4"
    }
  </script>
</body>